image: "rust:latest"

stages:
  - build
  - test
  - lint

# Use cargo to build the project
cargo-build:
  stage: build
  tags:
    - docker
  script:
    - rustc --version && cargo --version
    - cargo build

# Use cargo to test the project
cargo-test:
  stage: test
  tags:
    - docker
  script:
    - rustc --version && cargo --version
    - cargo test --all --verbose

# Lint with clippy and check formatting, breaks on warnings
rust-lints:
  stage: lint
  tags:
    - docker
  before_script:
    - rustup component add rustfmt
    - rustup component add clippy
  script:
    - rustc --version && cargo --version
    - cargo fmt --all -- --check
    - cargo clippy --all-targets --all-features -- -D warnings
